body {
    background: #0b0b0b url('https://1.bp.blogspot.com/-r5Y4FudcJiI/XqFns2EDKwI/AAAAAAAAACc/yM1dLC_RAWIO-FuoEJB5DkPa3JUvfmStgCLcBGAsYHQ/s1600/jambitoto.jpg') center center no-repeat !important;
    background-position: top !important;
    background-attachment: fixed !important;
}

.navbar-fixed-top {
    background: #002122 !important;
    max-width: 1170px;
    margin: auto;
}

.breadcrumbs {
    padding: 40px 0 !important;
}

.news-body {
    background: #f6e700 !important;
    border-bottom: 1px #0084dc solid;
    border-radius: 0px 0px 10px 0px;
}

ul.newsticker > li > a {
  text-transform:  uppercase !important;
  color: #8dfbff;
}

.news-head {
    background: #f6e700 !important;
    border-bottom: 1px #ffffff solid;
    border-radius: 0px 0px 0px 10px;
}

.news-head > h5 {
  text-transform:  uppercase !important;
  color: #ffffff !important;
}
