body {
    background: # url('#') center center no-repeat !important;
    background-position: top !important;
    background-attachment: fixed !important;
}

.navbar-fixed-top {
    background: #002122 !important;
    max-width: 1170px;
    margin: auto;
}

.breadcrumbs {
    padding: 40px 0 !important;
}

.news-body {
    background: #f6e700 !important;
    border-bottom: 1px #f6e700 solid;
    border-radius: 0px 0px 10px 0px;
}

ul.newsticker > li > a {
  text-transform:  uppercase !important;
  color: #8dfbff;
}

.news-head {
    background: #f6e700 !important;
    border-bottom: 1px #f6e700 solid;
    border-radius: 0px 0px 0px 10px;
}

.news-head > h5 {
  text-transform:  uppercase !important;
  color: #ffffff !important;
}
