body {
    background: #000000 url('../../img/afp/bg.jpg') center center no-repeat !important;
    background-position: top !important;
    background-attachment: fixed !important;
}

.navbar-fixed-top {
    background: rgba(23,32,71,0.5) !important;
    max-width: 1170px;
    margin: auto;
}

.breadcrumbs {
    padding: 40px 0 !important;
}

.news-body {
    background: rgba(23,32,71,0.5) !important;
    border-bottom: 1px #0084dc solid;
    border-radius: 0px 0px 10px 0px;
}

ul.newsticker > li > a {
  text-transform:  uppercase !important;
  color: #8dfbff;
}

.news-head {
    background: rgba(23,32,71,0.5) !important;
    border-bottom: 1px #0084dc solid;
    border-radius: 0px 0px 0px 10px;
}

.news-head > h5 {
  text-transform:  uppercase !important;
  color: #8dfbff !important;
}
