.navbar-fixed-top {
    background-color: #0b0b0b;
    border: #0b0b0b;


}

body {
background: #0b0b0b url("http://jambitoto.com/assets/img/afp/bg.jpg") center no-repeat !important;
background-size: 100% 100% !important;
background-attachment: fixed !important;
}

#footer {
background-color: rgba(0,0,0,0.6) !important;

}

.btn.btn-theme {
 background: rgba(255, 255, 255);
background: -moz-linear-gradient(top, rgba(255,0,0) 0%, rgba(236,36,36) 100%) !important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,0,0)), color-stop(100%, rgba(236,36,36))) !important;
background: -webkit-linear-gradient(top, #fff600 0%, #c39602 100%) !important;
background: -o-linear-gradient(top, rgba(255,0,0) 0%, rgba(236,36,36) 100%) !important;
background: -ms-linear-gradient(top, rgba(255,0,0) 0%, rgba(236,36,36) 100%) !important;
background: linear-gradient(to bottom, rgba(0, 47, 81, 1) 0%, rgba(0, 47, 81, 1) 100%) !important
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9ad6f', endColorstr='#e3d6aa', GradientType=0 ) !important;
}

.results {
color: #ffffff;

}

.results {
    background: #002122;
    background-image: -moz-linear-gradient(top, #002122 0%, #c59902 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002122), color-stop(100%,#c59902));
    background-image: -webkit-linear-gradient(top, #002122 0%,#c59902 100%);
    background-image: -o-linear-gradient(top, #002122 0%,#c59902 100%);
    background-image: linear-gradient(top, #002122 0%,#c59902 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002122', endColorstr='#c59902',GradientType=0 );
    padding: 10px;
    margin-bottom: 15px;
    color: #ffffff;
    /* border: 1px solid #008bff; */
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.results > h4 > i {
    color: #ffffff !important;
background: none !important;
-webkit-text-fill-color: #ffffff !important;
}

h4 {
	color: #dadada !important;

}
.results-detail{
color: rgba(0, 16, 16, 0.60);

}  

.section .container {
    background: rgba(0, 16, 16, 0.60) !important;

}

.news-detail {
color: rgba(0, 16, 16, 0.60);

}

.news-head {
    background: #0b0b0b;
    height: 35px;
}

.news-body {
    background: #0b0b0b}
